# App
APP_ENV=development
APP_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=gopickup

# Plunk (Mailing)
PLUNK_API_KEY=your_plunk_api_key_here
PLUNK_FROM_EMAIL=hello@gopickup.com
PLUNK_FROM_NAME=GoPickup
