# Env
.env
.env.*
!.env.example
*.env.local

# Build
dist/
bin/
main
server
migrate

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Go
vendor/

# Databases
*.db
*.db-journal
gopickup.db
*.dump

# Logs
*.log
